.info {
  margin-bottom: 60px;

  @include phone {
    display: none;
  }

  &__container {
    display: flex;
    justify-content: center;
  }
  &__block {
    background-color: #ebe1dd;
    padding: 30px;
    max-width: 80%;
    animation-iteration-count: infinite;
    animation-duration: 4s;

    &.right__box-shadow {
      animation-name: boxShadowPulsRight;
      box-shadow: 9px 9px 2px 0px #9da6ae;
    }

    &.left__box-shadow {
      animation-name: boxShadowPulsLeft;
      box-shadow: -9px -9px 2px 0px #9da6ae;
    }
  }
  &__title {
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 18px;
    letter-spacing: 2px;
  }
  &__text {
    max-width: 90%;
    font-size: 18px;
    line-height: 20px;
  }

  .info__list {
    li {
      margin-bottom: 6px;
      font-size: 18px;
      line-height: 20px;
    }
  }
}

@keyframes boxShadowPulsRight {
    0% {
        box-shadow: 9px 9px 2px 0px #9da6ae;
    }
    50% {
        box-shadow: 4px 4px 2px 0px #9da6ae;
    }
    100%{
        box-shadow: 9px 9px 2px 0px #9da6ae;
    }
}
@keyframes boxShadowPulsLeft {
  0% {
      box-shadow: -9px -9px 2px 0px #9da6ae;
  }
  50% {
      box-shadow: -4px -4px 2px 0px #9da6ae;
  }
  100%{
      box-shadow: -9px -9px 2px 0px #9da6ae;
  }
}
